.@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
    color: #111;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
